<%= tag.div id: dom_id(link) do %>
    <div class="flex items-center gap-2">
        <a href="<%= link.original_url %>" class="text-blue-500 underline" target="_blank">
            <%= link.original_url %>
        </a>
    </div>
<% end %>